# Avoid ignoring HikVision library files
!lib-amd64/*.so*
!lib-amd64/**/*.so*
!lib-aarch64/*.so*
!lib-aarch64/**/*.so*

# Environment variables for local development
development.env

# Ignore any folder starting with 'venv'
venv*/

# Ignore the standard hidden venv folder
.venv/