# Example .env files for local development. Make a copy of it and set your own parameters

# JSON-encoded string containing the list of doorbells to connect to
DOORBELLS=[{"name":"outdoor", "ip": "192.168.0.1", "username": "user", "password": "password"}]

# Connection to Home Assistant API
HOME_ASSISTANT__URL=http://localhost:8123
HOME_ASSISTANT__TOKEN=<secret_token>

# Help diagnose problems during development
SYSTEM__LOG_LEVEL=DEBUG
SYSTEM__SDK_LOG_LEVEL=DEBUG

# Load C native libraries required by the Hikvision SDK. Use the correct folder depending on you architecture.
LD_LIBRARY_PATH=lib-amd64/

# Enable python module to get stacktraces from C native calls in the SDK
PYTHONFAULTHANDLER=true
