goodconf==7.1.0
ha-mqtt-discoverable==0.25.2
loguru==0.6.0
paho-mqtt==2.1.0
pydantic>=2.12.5,<3
pydantic-settings>=2.14.2,<3
python-dotenv>=1.1.1,<2
pydub==0.25.1
requests>=2.33.0,<3
typing_extensions>=4.15.0,<5
