name: Hikvision Doorbell
description: Connect your Hikvision doorbells to Home Assistant
version: '3.0.25'
image: ghcr.io/pergolafabio/hikvision-doorbell
slug: hikvision_doorbell
url: https://github.com/pergolafabio/Hikvision-Addons/tree/main/doorbell
arch:
- amd64
- i386
- aarch64
stage: stable
startup: application
boot: auto
stdin: true
homeassistant_api: true

# Default options when used as an HA add-on
options:
  doorbells:
    - name: ""
      ip: ""
      port: null
      username: admin
      password: ""
      output_relays: null
      scenes: false
      call_state_poll: null
  system:
    log_level: INFO
    sdk_log_level: NONE
  mqtt: {}

# Schema for the options above
schema:
  doorbells:
    - name: str
      ip: str
      port: "int?"
      username: str
      password: str
      output_relays: "int?"
      scenes: "bool?"
      call_state_poll: "int?"
  system:
    log_level: match(^ERROR|WARNING|INFO|DEBUG$)
    sdk_log_level: match(^NONE|ERROR|INFO|DEBUG$)?
  mqtt:
    host: "str?"
    port: "int?"
    ssl: "bool?"
    username: "str?"
    password: "str?"    

# To request MQTT configuration using the supervisor API
services:
  - "mqtt:need"
